*{
    margin: 0;
    padding: 0;
}

#root{
   height: 100vh;
   background-image: url(./img/wall-1217083_640.jpg);
   opacity: 0.8;
   background-size: cover;
}

body{
    text-align: center;
    justify-content: center;
}